flows/Approve_Card_Request-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Credit_Card_Id_for_Redirect</name>
        <label>Assign Credit Card Id for Redirect</label>
        <locationX>707</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>Credit_Card_Id_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedCard</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OSR_Update_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_Card_Assignment</name>
        <label>Cancel Card Assignment</label>
        <locationX>307</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CANCEL_CARD_CONST</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Portfolio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Card_Assignment</name>
        <label>New Card Assignment</label>
        <locationX>486</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NEW_CARD_CONST</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Portfolio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Replacement_Card_Assignment</name>
        <label>Replacement Card Assignment</label>
        <locationX>702</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>REPLACEMENT_CARD_CONST</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Portfolio</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Abuse</name>
        <choiceText>Abuse</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RequestReason</elementReference>
        </value>
    </choices>
    <choices>
        <name>Card_Deactivation_Reason_Fraud</name>
        <choiceText>Card Deactivation Reason Fraud</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Deactivation_Reason</elementReference>
        </value>
    </choices>
    <choices>
        <name>Fraud</name>
        <choiceText>Fraud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fraud</stringValue>
        </value>
    </choices>
    <constants>
        <name>CANCEL_CARD_CONST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Deactivate</stringValue>
        </value>
    </constants>
    <constants>
        <name>IN_PROGRESS_CONST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </constants>
    <constants>
        <name>NEW_CARD_CONST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </constants>
    <constants>
        <name>REPLACEMENT_CARD_CONST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Replacement</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_New_Portfolio_Decision</name>
        <label>Create New Portfolio Decision</label>
        <locationX>481</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Create_New_Portfolio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OSR_Type_Variable</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>NEW_CARD_CONST</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Portfolio_Id_Variable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Portfolio</targetReference>
            </connector>
            <label>Create New Portfolio</label>
        </rules>
        <rules>
            <name>Portfolio_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OSR_Type_Variable</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>NEW_CARD_CONST</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Portfolio_Id_Variable</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Credit_Card</targetReference>
            </connector>
            <label>Portfolio Already Exists</label>
        </rules>
        <rules>
            <name>Replace_or_Deactivate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OSR_Type_Variable</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>REPLACEMENT_CARD_CONST</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OSR_Type_Variable</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>CANCEL_CARD_CONST</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Card_Dectivation_Reason</targetReference>
            </connector>
            <label>Replace or Deactivate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Type</name>
        <label>Request Type</label>
        <locationX>482</locationX>
        <locationY>98</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>New_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OSR_Type_Variable</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>NEW_CARD_CONST</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Card_Assignment</targetReference>
            </connector>
            <label>New Card</label>
        </rules>
        <rules>
            <name>Replace_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OSR_Type_Variable</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>REPLACEMENT_CARD_CONST</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Replacement_Card_Assignment</targetReference>
            </connector>
            <label>Replace Card</label>
        </rules>
        <rules>
            <name>Cancel_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OSR_Type_Variable</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>CANCEL_CARD_CONST</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Card_Assignment</targetReference>
            </connector>
            <label>Cancel Card</label>
        </rules>
    </decisions>
    <description>Process for approving / replacing / deactivating a card.</description>
    <dynamicChoiceSets>
        <name>Cards_For_Contact_Choice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Cardholder_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CID</elementReference>
            </value>
        </filters>
        <object>Credit_Card__c</object>
        <outputAssignments>
            <assignToReference>Credit_Card_Id_Variable</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>Approve Card Request</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credit_Card</name>
        <label>Create Credit Card</label>
        <locationX>481</locationX>
        <locationY>562</locationY>
        <assignRecordIdToReference>Credit_Card_Id_Variable</assignRecordIdToReference>
        <connector>
            <targetReference>OSR_Update_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Card_Agreement_Signed__c</field>
            <value>
                <elementReference>CardAgreementSigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Card_Requested_By__c</field>
            <value>
                <elementReference>CardRequestedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Card_Set_up_Status__c</field>
            <value>
                <elementReference>NewCardSetUpStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Card_Vendor__c</field>
            <value>
                <elementReference>CardVendor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Request__c</field>
            <value>
                <elementReference>OSRID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Account__c</field>
            <value>
                <elementReference>Portfolio_Id_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>StaffCardRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>NewCardStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Credit_Card__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Portfolio</name>
        <label>Create Portfolio</label>
        <locationX>181</locationX>
        <locationY>470</locationY>
        <assignRecordIdToReference>Portfolio_Id_Variable</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Credit_Card</targetReference>
        </connector>
        <inputAssignments>
            <field>Owner__NotFound</field>
            <value>
                <elementReference>PortfolioRecordOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portfolio_Owner_Finance_Code__c</field>
            <value>
                <elementReference>ConFinanceCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portfolio_Owner__c</field>
            <value>
                <elementReference>CID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portfolio_Profile__c</field>
            <value>
                <elementReference>StaffPortfolioProfile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portfolio_Status__c</field>
            <value>
                <elementReference>DefaultPortfolioStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>StaffPortfolioRecordType</elementReference>
            </value>
        </inputAssignments>
        <object>Portfolio__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Portfolio</name>
        <label>Lookup Portfolio</label>
        <locationX>486</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Portfolio_Decision</targetReference>
        </connector>
        <filters>
            <field>Portfolio_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CID</elementReference>
            </value>
        </filters>
        <object>Portfolio__c</object>
        <outputAssignments>
            <assignToReference>Portfolio_Id_Variable</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Credit_Card_Profile_Id_Variable</assignToReference>
            <field>Portfolio_Profile__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>OSR</name>
        <label>OSR</label>
        <locationX>484</locationX>
        <locationY>5</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OSRID</elementReference>
            </value>
        </filters>
        <object>OSR__c</object>
        <outputAssignments>
            <assignToReference>RelatedCard</assignToReference>
            <field>Related_Card__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RequestReason</assignToReference>
            <field>Request_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OSR_Type_Variable</assignToReference>
            <field>Request_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>OSR_Update_Status</name>
        <label>OSR Update Status</label>
        <locationX>482</locationX>
        <locationY>655</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OSRID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>IN_PROGRESS_CONST</elementReference>
            </value>
        </inputAssignments>
        <object>OSR__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Card_Dectivation_Reason</name>
        <label>Update Card Dectivation Reason</label>
        <locationX>727</locationX>
        <locationY>504</locationY>
        <connector>
            <targetReference>Assign_Credit_Card_Id_for_Redirect</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedCard</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Card_Deactivation_Reason__c</field>
            <value>
                <elementReference>RequestReason</elementReference>
            </value>
        </inputAssignments>
        <object>Credit_Card__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>90</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Error&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Contact Id: {!CID}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Portfolio Id: {!Portfolio_Id_Variable}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Credit Card Id: {!Credit_Card_Id_Variable}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;OSR Type: {!OSR_Type_Variable}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Type: {!Type}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Related Card: {!RelatedCard}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Request Reason: {!RequestReason}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please contact the system administrator.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish</label>
        <locationX>482</locationX>
        <locationY>745</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Redirecting...&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you are not redirected to the Credit Card detail page, please click Finish.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>OSR</startElementReference>
    <variables>
        <name>Card_Agreement_Received_Variable</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CardAgreementSigned</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CardRequestedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CardVendor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Contact ID</description>
        <name>CID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConFinanceCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact_First_Name_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Last_Name_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Credit_Card_Id_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Credit_Card_Profile_Id_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Deactivation_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Default_CC_Profile_Id_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Default_Portfolio_Profile_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DefaultCardExpiration</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DefaultDeliverOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DefaultPortfolioStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Is_Finished</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewCardSetUpStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewCardStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrigRequestNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OSR_Type_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the OSR record</description>
        <name>OSRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Portfolio_Id_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PortfolioRecordOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedCard</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StaffCardRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StaffPortfolioProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StaffPortfolioRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
