flows/ContactPermissionSetOOTOupdate-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Permission_Set</name>
        <label>Add Permission Set</label>
        <locationX>326</locationX>
        <locationY>1073</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PermissionSet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PermissionSetLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddNewPermissionSetColl</name>
        <label>NewPermissionSetCollection</label>
        <locationX>784</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PermissionSet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_PermissionSet_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deleteflag_set_to_true</name>
        <label>Deleteflag set to true</label>
        <locationX>1158</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>Deleteflag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PermissionSetAssignmentLoop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Delete_flag</name>
        <label>Initialize Delete flag</label>
        <locationX>775</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>Deleteflag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PermissionSetAssignmentLoop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewPermissionSetCollectionAdd</name>
        <label>AddNewPermissionSetCollection</label>
        <locationX>831</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>NewPermissionSetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PermissionSetAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PermissionSetAssignmentLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>assigned_permission_set_check</name>
        <label>assigned permission set check</label>
        <locationX>1157</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>assigned_permission_set_matches_permission_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPermissionSet_Sobj.Permission_SetID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PermissionSetAssignment.PermissionSetId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deleteflag_set_to_true</targetReference>
            </connector>
            <label>assigned permission set matches permission set</label>
        </rules>
        <rules>
            <name>assiged_permissionset_does_not_match_permission_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPermissionSet_Sobj.Permission_SetID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PermissionSetAssignment.PermissionSetId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PermissionSetAssignmentLoop2</targetReference>
            </connector>
            <label>assiged permissionset does not match permission set</label>
        </rules>
    </decisions>
    <decisions>
        <name>AssignedPermissionSetEmptyCheck</name>
        <label>AssignedPermissionSetEmptyCheck</label>
        <locationX>100</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AssignedPermissionSet_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPermissionSets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AssignedPermissionSetEmpty</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PermissionSetLoop</targetReference>
            </connector>
            <label>AssignedPermissionSet Empty</label>
        </rules>
        <rules>
            <name>Assigned_PermissionSet_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPermissionSets</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AssignedPermissionSetEmpty</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PermissionSetAssignmentLoop</targetReference>
            </connector>
            <label>Assigned PermissionSet not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deleteflag_check</name>
        <label>Deleteflag check</label>
        <locationX>966</locationX>
        <locationY>342</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Deleteflag_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deleteflag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_permission_set_in_contact</targetReference>
            </connector>
            <label>Deleteflag true</label>
        </rules>
        <rules>
            <name>Delete_flag_not_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deleteflag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignedpermisionsetloop</targetReference>
            </connector>
            <label>Delete flag not true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Out_of_office_check</name>
        <label>Out of office check</label>
        <locationX>103</locationX>
        <locationY>251</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Out_of_office_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutofOfficeEndDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ExistingOutofOfficeEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_PermissionSet_Lookup</targetReference>
            </connector>
            <label>Out of office exists</label>
        </rules>
        <rules>
            <name>Out_of_office_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutofOfficeEndDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ExistingOutofOfficeEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Update</targetReference>
            </connector>
            <label>Out of office does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProfileID_Check</name>
        <label>ProfileID Check</label>
        <locationX>888</locationX>
        <locationY>793</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_Profileid_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSet.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AddNewPermissionSetColl</targetReference>
            </connector>
            <label>New Profileid is empty</label>
        </rules>
        <rules>
            <name>New_Profileid_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSet.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>New_PermissionSet_Loop</targetReference>
            </connector>
            <label>New Profileid is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProfileID_check2</name>
        <label>ProfileID check2</label>
        <locationX>330</locationX>
        <locationY>952</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ProfileID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSet.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>PermissionSetLoop</targetReference>
            </connector>
            <label>ProfileID is not empty</label>
        </rules>
        <rules>
            <name>ProfileID_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSet.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Permission_Set</targetReference>
            </connector>
            <label>ProfileID is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProfileID_exists</name>
        <label>ProfileID exists</label>
        <locationX>1150</locationX>
        <locationY>135</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Profileid_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSet.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>PermissionSetAssignmentLoop2</targetReference>
            </connector>
            <label>Profileid is not empty</label>
        </rules>
        <rules>
            <name>profileid_is_empty2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSet.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>assigned_permission_set_check</targetReference>
            </connector>
            <label>profileid is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidatePermissionSetExists</name>
        <label>ValidatePermissionSetExists</label>
        <locationX>624</locationX>
        <locationY>520</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PermissionSetexists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPermissionSet_Sobj.Permission_SetID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PermissionSetAssignment.PermissionSetId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PermissionSetAssignmentLoop</targetReference>
            </connector>
            <label>PermissionSetexists</label>
        </rules>
        <rules>
            <name>PermissionSetDoesnotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSetAssignment.PermissionSetId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AssignedPermissionSet_Sobj.Permission_SetID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignedPermissionSet</targetReference>
            </connector>
            <label>PermissionSetDoesnotExist</label>
        </rules>
    </decisions>
    <interviewLabel>ContactPermissionSetOOTOupdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactPermissionSetOOTOupdate</label>
    <loops>
        <name>Assignedpermisionsetloop</name>
        <label>Assignedpermisionsetloop</label>
        <locationX>558</locationX>
        <locationY>216</locationY>
        <assignNextValueToReference>AssignedPermissionSet_Sobj</assignNextValueToReference>
        <collectionReference>AssignedPermissionSets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initialize_Delete_flag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignedPermissionSetEmptyCheck</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AssignedPermissionSet</name>
        <label>AssignedPermissionSetLoopforDuplicates</label>
        <locationX>638</locationX>
        <locationY>388</locationY>
        <assignNextValueToReference>AssignedPermissionSet_Sobj</assignNextValueToReference>
        <collectionReference>AssignedPermissionSets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ValidatePermissionSetExists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NewPermissionSetCollectionAdd</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_PermissionSet_Loop</name>
        <label>New PermissionSet Loop</label>
        <locationX>538</locationX>
        <locationY>816</locationY>
        <assignNextValueToReference>PermissionSetAssignment</assignNextValueToReference>
        <collectionReference>NewPermissionSetCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NewPermissionSetLookup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PermissionSetAddLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PermissionSetAddLoop</name>
        <label>PermissionSetAddLoop</label>
        <locationX>601</locationX>
        <locationY>1201</locationY>
        <assignNextValueToReference>PermissionSet</assignNextValueToReference>
        <collectionReference>PermissionSetCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Permissionset</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>PermissionSetAssignmentLoop</name>
        <label>PermissionSetAssignmentLoop</label>
        <locationX>388</locationX>
        <locationY>664</locationY>
        <assignNextValueToReference>PermissionSetAssignment</assignNextValueToReference>
        <collectionReference>PermissionSetAssignmentCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignedPermissionSet</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_PermissionSet_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PermissionSetAssignmentLoop2</name>
        <label>PermissionSetAssignmentLoop</label>
        <locationX>936</locationX>
        <locationY>220</locationY>
        <assignNextValueToReference>PermissionSetAssignment</assignNextValueToReference>
        <collectionReference>PermissionSetAssignmentCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ProfileID_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Deleteflag_check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PermissionSetLoop</name>
        <label>PermissionSetLoop</label>
        <locationX>108</locationX>
        <locationY>1041</locationY>
        <assignNextValueToReference>PermissionSetAssignment</assignNextValueToReference>
        <collectionReference>PermissionSetAssignmentCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PermissionSetLookup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PermissionSetAddLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Permissionset</name>
        <label>Add Permissionset</label>
        <locationX>810</locationX>
        <locationY>1200</locationY>
        <assignRecordIdToReference>ContactPermissionSetID</assignRecordIdToReference>
        <connector>
            <targetReference>PermissionSetAddLoop</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>PermissionSet.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permission_SetID__c</field>
            <value>
                <elementReference>PermissionSet.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSet__c</object>
    </recordCreates>
    <recordDeletes>
        <name>delete_permission_set_in_contact</name>
        <label>delete permission set in contact</label>
        <locationX>983</locationX>
        <locationY>471</locationY>
        <connector>
            <targetReference>Assignedpermisionsetloop</targetReference>
        </connector>
        <filters>
            <field>Permission_SetID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignedPermissionSet_Sobj.Permission_SetID__c</elementReference>
            </value>
        </filters>
        <object>PermissionSet__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Assigned_PermissionSet_Lookup</name>
        <label>Assigned PermissionSet Lookup</label>
        <locationX>98</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignedpermisionsetloop</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>PermissionSet__c</object>
        <outputReference>AssignedPermissionSets</outputReference>
        <queriedFields>Permission_SetID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Contact_Lookup</name>
        <label>Contact Lookup</label>
        <locationX>108</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Out_of_office_check</targetReference>
        </connector>
        <filters>
            <field>Employee_User_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExistingOutofOfficeEndDate</assignToReference>
            <field>Out_of_Office_End_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>NewPermissionSetLookup</name>
        <label>NewPermissionSetLookup</label>
        <locationX>716</locationX>
        <locationY>733</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProfileID_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermissionSetAssignment.PermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputReference>PermissionSet</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProfileId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Permission_Set_Lookup</name>
        <label>Permission Set Assignment Lookup</label>
        <locationX>99</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Lookup</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>PermissionSetAssignmentCollection</outputReference>
        <queriedFields>PermissionSetId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PermissionSetLookup</name>
        <label>PermissionSetLookup</label>
        <locationX>204</locationX>
        <locationY>920</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProfileID_check2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermissionSetAssignment.PermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputReference>PermissionSet</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ProfileId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>UserLookup</name>
        <label>User Lookup</label>
        <locationX>98</locationX>
        <locationY>2</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>LicenseType</assignToReference>
            <field>License_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OutofOfficeEndDate</assignToReference>
            <field>Out_of_Office_End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OutofOfficeMessage</assignToReference>
            <field>Out_of_Office_Message__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OutofofficeStartdate</assignToReference>
            <field>Out_of_Office_Start_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Contact_Update</name>
        <label>Contact Update</label>
        <locationX>395</locationX>
        <locationY>151</locationY>
        <connector>
            <targetReference>Assigned_PermissionSet_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>License_Type__c</field>
            <value>
                <elementReference>LicenseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Out_of_Office_End_Date__c</field>
            <value>
                <elementReference>OutofOfficeEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Out_of_Office_Message__c</field>
            <value>
                <elementReference>OutofOfficeMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Out_of_office_start_date__c</field>
            <value>
                <elementReference>OutofofficeStartdate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>UserLookup</startElementReference>
    <variables>
        <name>AssignedPermissionSet_Sobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet__c</objectType>
    </variables>
    <variables>
        <name>AssignedPermissionSetEmpty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet__c</objectType>
    </variables>
    <variables>
        <name>AssignedPermissionSets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet__c</objectType>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactPermissionSetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Deleteflag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeletePermissionSetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingOutofOfficeEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LicenseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewPermissionSetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>NewPermissionSetCollection2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>OutofOfficeEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutofOfficeMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutofofficeStartdate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PermissionSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>PermissionSetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PermissionSetAssignmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PermissionSetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
