flows/ContactUpdate-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>PermissionSetCollection_add</name>
        <label>PermissionSetCollection Add</label>
        <locationX>527</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PermissionSet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PermissionSetLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ProfileID_check</name>
        <label>ProfileID check</label>
        <locationX>527</locationX>
        <locationY>349</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Profileid_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSet.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>PermissionSetCollection_add</targetReference>
            </connector>
            <label>Profileid empty</label>
        </rules>
        <rules>
            <name>Profileid_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSet.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>PermissionSetLoop</targetReference>
            </connector>
            <label>Profileid is not empty</label>
        </rules>
    </decisions>
    <interviewLabel>ContactUpdatev2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactUpdatev2</label>
    <loops>
        <name>PermissionSetAddLoop</name>
        <label>PermissionSetAddLoop</label>
        <locationX>296</locationX>
        <locationY>611</locationY>
        <assignNextValueToReference>PermissionSet</assignNextValueToReference>
        <collectionReference>PermissionSetCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Permissionset</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>PermissionSetLoop</name>
        <label>PermissionSetLoop</label>
        <locationX>295</locationX>
        <locationY>247</locationY>
        <assignNextValueToReference>PermissionSetAssignment</assignNextValueToReference>
        <collectionReference>PermissionSetAssignmentCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PermissionSetLookup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contact_Lookup</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Permissionset</name>
        <label>Add Permissionset</label>
        <locationX>541</locationX>
        <locationY>613</locationY>
        <assignRecordIdToReference>ContactPermissionSetID</assignRecordIdToReference>
        <connector>
            <targetReference>PermissionSetAddLoop</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>PermissionSet.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permission_SetID__c</field>
            <value>
                <elementReference>PermissionSet.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSet__c</object>
    </recordCreates>
    <recordLookups>
        <name>Contact_Lookup</name>
        <label>Contact Lookup</label>
        <locationX>294</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Update</targetReference>
        </connector>
        <filters>
            <field>Employee_User_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Permission_Set_Lookup</name>
        <label>Permission Set Lookup</label>
        <locationX>296</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PermissionSetLoop</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>PermissionSetAssignmentCollection</outputReference>
        <queriedFields>PermissionSetId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PermissionSetLookup</name>
        <label>PermissionSetLookup</label>
        <locationX>526</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProfileID_check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermissionSetAssignment.PermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputReference>PermissionSet</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ProfileId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>UserLookup</name>
        <label>User Lookup</label>
        <locationX>293</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>LicenseType</assignToReference>
            <field>License_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OutofOfficeEndDate</assignToReference>
            <field>Out_of_Office_End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OutofOfficeMessage</assignToReference>
            <field>Out_of_Office_Message__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OutofofficeStartdate</assignToReference>
            <field>Out_of_Office_Start_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Contact_Update</name>
        <label>Contact Update</label>
        <locationX>300</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>PermissionSetAddLoop</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>License_Type__c</field>
            <value>
                <elementReference>LicenseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Out_of_Office_End_Date__c</field>
            <value>
                <elementReference>OutofOfficeEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Out_of_Office_Message__c</field>
            <value>
                <elementReference>OutofOfficeMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Out_of_office_start_date__c</field>
            <value>
                <elementReference>OutofofficeStartdate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>UserLookup</startElementReference>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactPermissionSetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LicenseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutofOfficeEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutofOfficeMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutofofficeStartdate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PermissionSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>PermissionSetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PermissionSetAssignmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PermissionSetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
