flows/Lookup_Quote_line_products-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_FormalName</name>
        <label>add FormalName</label>
        <locationX>429</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>varFormalNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFormalNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soVarIntAcctFormalNames.Account_Formal_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_IntAcounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_FormalName_0</name>
        <label>add FormalName</label>
        <locationX>259</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>varFormalNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varParentAccountFormalName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Integrated_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_int_acct_formal_name</name>
        <label>add Int Account Formal Name</label>
        <locationX>591</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>varFormalNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFormalNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soVarIntAcctFormalNames.Account_Formal_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_on_to_counter</name>
        <label>add on to counter</label>
        <locationX>287</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>VarIterationcount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>count_comparison</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_on_to_counter_1</name>
        <label>add on to counter</label>
        <locationX>273</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>varItertionAcct2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>count_comparison_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_product_name</name>
        <label>add product name</label>
        <locationX>804</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>VarProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SoVarproductnaecollection.SBQQ__ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProductShortName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SoVarproductnaecollection.Product_Short_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_LOA_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_product_name_and_comma_and_space</name>
        <label>add product name and comma and space</label>
        <locationX>475</locationX>
        <locationY>110</locationY>
        <assignmentItems>
            <assignToReference>VarProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductNameWithSpacesFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProductShortName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductShortNameWithSpacesFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_pruduct_names_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Name_with_And</name>
        <label>Add Product Name with And</label>
        <locationX>816</locationX>
        <locationY>5</locationY>
        <assignmentItems>
            <assignToReference>VarProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddAndSpaceProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProductShortName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddAndSpaceProductShort</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_LOA_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASNTest</name>
        <label>ASNTest</label>
        <locationX>442</locationX>
        <locationY>2</locationY>
        <assignmentItems>
            <assignToReference>QuoteID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>aC0W00000008Oi8KAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lookup_to_quote_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CounterForIntAccounts</name>
        <label>Counter</label>
        <locationX>2</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CounterIntAccts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_account_formal_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CounterForProduct</name>
        <label>Counter</label>
        <locationX>93</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_pruduct_names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Last_Comma</name>
        <label>Remove Last Comma</label>
        <locationX>663</locationX>
        <locationY>40</locationY>
        <assignmentItems>
            <assignToReference>VarProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveCommaAddAnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProductShortName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveCommaAddAndShort</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_Name_with_And</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_integrated_accounts</name>
        <label>Any integrated accounts?</label>
        <locationX>135</locationX>
        <locationY>397</locationY>
        <defaultConnector>
            <targetReference>Loop_for_account_formal_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>yes</defaultConnectorLabel>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>socvIntAcctFormalName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Quote</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_products</name>
        <label>Any products?</label>
        <locationX>94</locationX>
        <locationY>9</locationY>
        <defaultConnector>
            <targetReference>Loop_for_pruduct_names</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>yes</defaultConnectorLabel>
        <rules>
            <name>noproducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SoCoVArProductName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OppIDAcctID</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForComma</name>
        <label>CheckForComma</label>
        <locationX>607</locationX>
        <locationY>139</locationY>
        <defaultConnector>
            <targetReference>add_product_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>CheckForComma1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarProductName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>,</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Last_Comma</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>count_comparison</name>
        <label>count comparison</label>
        <locationX>473</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>add_product_name_and_comma_and_space</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VarIterationcount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckForComma</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>count_comparison_1</name>
        <label>count comparison</label>
        <locationX>436</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>add_FormalName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>true_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterIntAccts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varItertionAcct2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_int_acct_formal_name</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <description>Sets Concatenated programs (LOA Product), concatenated programs without acronym (LOA Contract), and included facilities fields.</description>
    <formulas>
        <name>formulaNewLine</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!NewLine}, &quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ProductNameWithSpacesFormula</name>
        <dataType>String</dataType>
        <expression>if({!Counter=1}, {!SoVarproductnaecollection.SBQQ__ProductName__c}, {!SoVarproductnaecollection.SBQQ__ProductName__c}&amp;&quot;, &quot;)</expression>
    </formulas>
    <formulas>
        <name>ProductShortNameWithSpacesFormula</name>
        <dataType>String</dataType>
        <expression>if({!Counter=1}, {!SoVarproductnaecollection.Product_Short_Name__c} , {!SoVarproductnaecollection.Product_Short_Name__c}&amp;&quot;, &quot;)</expression>
    </formulas>
    <formulas>
        <name>RemoveCommaAddAnd</name>
        <dataType>String</dataType>
        <expression>(
LEFT({!VarProductName}, 
(LEN({!VarProductName}) - 2)
)&amp;&quot; &quot;
)</expression>
    </formulas>
    <formulas>
        <name>RemoveCommaAddAndShort</name>
        <dataType>String</dataType>
        <expression>(
LEFT({!VarProductShortName}, 
(LEN({!VarProductShortName}) - 2)
)&amp;&quot; &quot;
)</expression>
    </formulas>
    <interviewLabel>Lookup Quote line products  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lookup Quote line products</label>
    <loops>
        <name>Loop_for_account_formal_name</name>
        <label>Loop for Acount Forrmal Name</label>
        <locationX>1</locationX>
        <locationY>469</locationY>
        <assignNextValueToReference>soVarIntAcctFormalNames</assignNextValueToReference>
        <collectionReference>socvIntAcctFormalName</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CounterForIntAccounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_for_IntAcounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_for_IntAcounts</name>
        <label>Loop for IntAcocunts</label>
        <locationX>269</locationX>
        <locationY>475</locationY>
        <assignNextValueToReference>soVarIntAcctFormalNames</assignNextValueToReference>
        <collectionReference>socvIntAcctFormalName</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_on_to_counter_1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_for_pruduct_names</name>
        <label>Loop for pruduct names</label>
        <locationX>94</locationX>
        <locationY>142</locationY>
        <assignNextValueToReference>SoVarproductnaecollection</assignNextValueToReference>
        <collectionReference>SoCoVArProductName</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CounterForProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_for_pruduct_names_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_for_pruduct_names_0</name>
        <label>Loop for pruduct names</label>
        <locationX>288</locationX>
        <locationY>116</locationY>
        <assignNextValueToReference>SoVarproductnaecollection</assignNextValueToReference>
        <collectionReference>SoCoVArProductName</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_on_to_counter</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Integrated_Accounts</name>
        <label>Get Integrated Accounts</label>
        <locationX>3</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_integrated_accounts</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Integrated_Account__c</object>
        <outputReference>socvIntAcctFormalName</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Formal_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OppIDAcctID</name>
        <label>Get OppIDAcctId</label>
        <locationX>775</locationX>
        <locationY>312</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LUGet_Parent_Account_Formal_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>varAcctId</assignToReference>
            <field>SBQQ__Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityID</assignToReference>
            <field>SBQQ__Opportunity2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_to_quote_line</name>
        <label>lookup to quote line</label>
        <locationX>297</locationX>
        <locationY>8</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_products</targetReference>
        </connector>
        <filters>
            <field>Is_a_Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>SoCoVArProductName</outputReference>
        <queriedFields>SBQQ__ProductName__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Short_Name__c</queriedFields>
        <sortField>Program_Name_Member_Facing__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>LUGet_Parent_Account_Formal_Name</name>
        <label>Get Parent Account Formal Name</label>
        <locationX>471</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>add_FormalName_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcctId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varParentAccountFormalName</assignToReference>
            <field>Account_Formal_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>testupdate_Quote</name>
        <label>testupdate Quote</label>
        <locationX>598</locationX>
        <locationY>675</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FacilitiesCovered__c</field>
            <value>
                <elementReference>varFormalNames</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FreeTravelMeetingLocation__c</field>
            <value>
                <elementReference>varParentAccountFormalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FreeTravelNameofMeeting__c</field>
            <value>
                <elementReference>varAcctId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_LOA_Product</name>
        <label>update LOA Product</label>
        <locationX>939</locationX>
        <locationY>91</locationY>
        <connector>
            <targetReference>Get_OppIDAcctID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOA_Contract__c</field>
            <value>
                <elementReference>VarProductShortName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOA_Product__c</field>
            <value>
                <elementReference>VarProductName</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Quote</name>
        <label>update Quote</label>
        <locationX>773</locationX>
        <locationY>387</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FacilitiesCovered__c</field>
            <value>
                <elementReference>varFormalNames</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <startElementReference>lookup_to_quote_line</startElementReference>
    <textTemplates>
        <name>NewLine</name>
        <text>-
-</text>
    </textTemplates>
    <textTemplates>
        <name>Space</name>
        <text>.</text>
    </textTemplates>
    <variables>
        <name>AddAndSpaceProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>and {!SoVarproductnaecollection.SBQQ__ProductName__c}</stringValue>
        </value>
    </variables>
    <variables>
        <name>AddAndSpaceProductShort</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>and {!SoVarproductnaecollection.Product_Short_Name__c}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterIntAccts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IntegratedAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Integrated_Account__c</objectType>
    </variables>
    <variables>
        <name>morethanonevariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Morethenoneproduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>onlyoneproduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductFinalOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductNameWithSpace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>if(!Counter=1,&quot; and &quot;&amp;{!SoVarproductnaecollection.SBQQ__ProductName__c},{!SoVarproductnaecollection.SBQQ__ProductName__c}&amp;&quot;, &quot;)</stringValue>
        </value>
    </variables>
    <variables>
        <name>Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Quotelineassignmentvaraible</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>SoCoVArProductName</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>socvIntAcctFormalName</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Integrated_Account__c</objectType>
    </variables>
    <variables>
        <name>SOoneproduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>soVarIntAcctFormalNames</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Integrated_Account__c</objectType>
    </variables>
    <variables>
        <name>SoVarproductnaecollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>SoVarproductname</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>varAcctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varFormalNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarIterationcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varItertionAcct2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varParentAccountFormalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>name of product for quote line</description>
        <name>VarProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>short name of product (no acronym) from quote line</description>
        <name>VarProductShortName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Vartotalproductnames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
