flows/Lookup_Quote_Lines_and_Change_RecordTypes-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ASNRecordType</name>
        <label>ASNRecordType</label>
        <locationX>365</locationX>
        <locationY>592</locationY>
        <assignmentItems>
            <assignToReference>sovQuoteLineID.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varQuoteLineRecordTypeIDToAssign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASNtoNewColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASNRecordTypeLocked</name>
        <label>ASNRecordTypeLocked</label>
        <locationX>53</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineRecordTypeIDToAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varQuoteLineLockedRTID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_QuoteLineIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASNRecordTypeLocked_0</name>
        <label>ASNRecordTypeLocked</label>
        <locationX>294</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineRecordTypeIDToAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varQuoteLineOpenRTID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_QuoteLineIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASNTest</name>
        <label>ASNTest</label>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varQuoteID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a5S4B000000CdRVUA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lookup_to_quote_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASNtoNewColl</name>
        <label>ASN to New Coll</label>
        <locationX>373</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>socvUpdatedQuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovQuoteLineID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_QuoteLineIds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DCNApprovalStatus</name>
        <label>DCNApprovalStatus</label>
        <locationX>86</locationX>
        <locationY>96</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PendingLock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LUQuoteLineRecordType</targetReference>
            </connector>
            <label>PendingLock</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LUQuoteLineRecordType</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>RejectedRecalledUnlock</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LUQuoteLineRecordType_0</targetReference>
            </connector>
            <label>RejectedRecalledUnlock</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCNQuote_LInes_Found</name>
        <label>Quote LInes Found</label>
        <locationX>478</locationX>
        <locationY>70</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>socVarQuoteLineIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LU_Quote</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>adding new decision line after DCNApprovalStatus for the &quot;approved&quot; status</description>
    <formulas>
        <name>formulaNewLine</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!NewLine}, &quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Lookup Quote Lines and Change RecordTypes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lookup Quote Lines and Change RecordTypes</label>
    <loops>
        <name>Loop_for_QuoteLineIds</name>
        <label>Loop for QuoteLineIds</label>
        <locationX>160</locationX>
        <locationY>591</locationY>
        <assignNextValueToReference>sovQuoteLineID</assignNextValueToReference>
        <collectionReference>socVarQuoteLineIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASNRecordType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FU_Quote_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookup_to_quote_line</name>
        <label>lookup to quote line</label>
        <locationX>40</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DCNQuote_LInes_Found</targetReference>
        </connector>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>socVarQuoteLineIDs</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LU_Quote</name>
        <label>LU Quote</label>
        <locationX>304</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DCNApprovalStatus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>varApprovalStatus</assignToReference>
            <field>ApprovalStatus__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LUQuoteLineRecordType</name>
        <label>LUQuoteLineRecordType</label>
        <locationX>62</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASNRecordTypeLocked</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Locked</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__QuoteLine__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varQuoteLineLockedRTID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LUQuoteLineRecordType_0</name>
        <label>LUQuoteLineRecordType</label>
        <locationX>288</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASNRecordTypeLocked_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__QuoteLine__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varQuoteLineOpenRTID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>FU_Quote_Lines</name>
        <label>FU Quote Lines</label>
        <locationX>164</locationX>
        <locationY>698</locationY>
        <inputReference>socvUpdatedQuoteLines</inputReference>
    </recordUpdates>
    <startElementReference>lookup_to_quote_line</startElementReference>
    <textTemplates>
        <name>NewLine</name>
        <text>-
-</text>
    </textTemplates>
    <textTemplates>
        <name>Space</name>
        <text>.</text>
    </textTemplates>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterIntAccts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IntegratedAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Integrated_Account__c</objectType>
    </variables>
    <variables>
        <name>morethanonevariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Morethenoneproduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>onlyoneproduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductFinalOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>Quotelineassignmentvaraible</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>socVarQuoteLineIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>socvUpdatedQuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>SOoneproduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>soVarIntAcctFormalNames</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Integrated_Account__c</objectType>
    </variables>
    <variables>
        <name>SoVarproductnaecollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>SoVarproductname</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>sovQuoteLineID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>varAcctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varApprovalStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varFormalNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarIterationcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varItertionAcct2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varParentAccountFormalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>name of product for quote line</description>
        <name>VarProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varQuoteLineLockedRTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varQuoteLineOpenRTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varQuoteLineRecordTypeIDToAssign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Vartotalproductnames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
