flows/PB_Populate_Priority_On_Email_Message-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Check_EmailHeader_RecordType_ASK_EAB</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Check_EmailHeader_RecordType_eTech_Support</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Check_EmailHeader_CaseRecordType</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Check_EmailHeader_CaseRecordType_PT _WEB</label>
        </rules>
    </decisions>
    <description>Created for CR-20160420-9783.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
 OR(
   CONTAINS([EmailMessage].Headers, &quot;Importance: High&quot;),
   CONTAINS([EmailMessage].Headers, &quot;X-Priority: 1&quot;),
   CONTAINS([EmailMessage].Headers, &quot;X-MSMail-Priority: 1&quot;),
   CONTAINS([EmailMessage].Headers, &quot;Priority: Urgent&quot;)
   ),
   NOT(ISNULL([EmailMessage].ParentId ))  ,
   NOT(ISNULL([EmailMessage].Parent.RecordTypeId)),
   [EmailMessage].Parent.RecordType.DeveloperName =  &quot;EAB_Custom&quot;
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
 OR(
   CONTAINS({!myVariable_current.Headers}, &quot;Importance: High&quot;),
   CONTAINS({!myVariable_current.Headers}, &quot;X-Priority: 1&quot;),
   CONTAINS({!myVariable_current.Headers}, &quot;X-MSMail-Priority: 1&quot;),
   CONTAINS({!myVariable_current.Headers}, &quot;Priority: Urgent&quot;)
   ),
   NOT(ISNULL({!myVariable_current.ParentId} ))  ,
   NOT(ISNULL({!myVariable_current.Parent.RecordTypeId})),
   {!myVariable_current.Parent.RecordType.DeveloperName} =  &quot;EAB_Custom&quot;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
 OR(
   CONTAINS([EmailMessage].Headers, &quot;Importance: High&quot;),
   CONTAINS([EmailMessage].Headers, &quot;X-Priority: 1&quot;),
   CONTAINS([EmailMessage].Headers, &quot;X-MSMail-Priority: 1&quot;),
   CONTAINS([EmailMessage].Headers, &quot;Priority: Urgent&quot;)
   ),
   NOT(ISNULL([EmailMessage].ParentId ))  ,
   NOT(ISNULL([EmailMessage].Parent.RecordTypeId)),
   [EmailMessage].Parent.RecordType.DeveloperName =  &quot;eTech_Support&quot;
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
 OR(
   CONTAINS({!myVariable_current.Headers}, &quot;Importance: High&quot;),
   CONTAINS({!myVariable_current.Headers}, &quot;X-Priority: 1&quot;),
   CONTAINS({!myVariable_current.Headers}, &quot;X-MSMail-Priority: 1&quot;),
   CONTAINS({!myVariable_current.Headers}, &quot;Priority: Urgent&quot;)
   ),
   NOT(ISNULL({!myVariable_current.ParentId} ))  ,
   NOT(ISNULL({!myVariable_current.Parent.RecordTypeId})),
   {!myVariable_current.Parent.RecordType.DeveloperName} =  &quot;eTech_Support&quot;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
 OR(
   CONTAINS([EmailMessage].Headers, &quot;Importance: High&quot;),
   CONTAINS([EmailMessage].Headers, &quot;X-Priority: 1&quot;),
   CONTAINS([EmailMessage].Headers, &quot;X-MSMail-Priority: 1&quot;),
   CONTAINS([EmailMessage].Headers, &quot;Priority: Urgent&quot;)
   ),
   NOT(ISNULL([EmailMessage].ParentId ))  ,
   NOT(ISNULL([EmailMessage].Parent.RecordTypeId)),
   OR(
    [EmailMessage].Parent.RecordType.DeveloperName =  &quot;Expert_Center&quot;,
    [EmailMessage].Parent.RecordType.DeveloperName =  &quot;Consulting_Management_Request&quot;,
    [EmailMessage].Parent.RecordType.DeveloperName =  &quot;IRC_Request&quot;,
    [EmailMessage].Parent.RecordType.DeveloperName =  &quot;International&quot;,
    [EmailMessage].Parent.RecordType.DeveloperName =  &quot;Member_Employee_Support&quot;,
    [EmailMessage].Parent.RecordType.DeveloperName =  &quot;PIC_Support&quot;
   )
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
 OR(
   CONTAINS({!myVariable_current.Headers}, &quot;Importance: High&quot;),
   CONTAINS({!myVariable_current.Headers}, &quot;X-Priority: 1&quot;),
   CONTAINS({!myVariable_current.Headers}, &quot;X-MSMail-Priority: 1&quot;),
   CONTAINS({!myVariable_current.Headers}, &quot;Priority: Urgent&quot;)
   ),
   NOT(ISNULL({!myVariable_current.ParentId} ))  ,
   NOT(ISNULL({!myVariable_current.Parent.RecordTypeId})),
   OR(
    {!myVariable_current.Parent.RecordType.DeveloperName} =  &quot;Expert_Center&quot;,
    {!myVariable_current.Parent.RecordType.DeveloperName} =  &quot;Consulting_Management_Request&quot;,
    {!myVariable_current.Parent.RecordType.DeveloperName} =  &quot;IRC_Request&quot;,
    {!myVariable_current.Parent.RecordType.DeveloperName} =  &quot;International&quot;,
    {!myVariable_current.Parent.RecordType.DeveloperName} =  &quot;Member_Employee_Support&quot;,
    {!myVariable_current.Parent.RecordType.DeveloperName} =  &quot;PIC_Support&quot;
   )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
 OR(
   CONTAINS([EmailMessage].Headers, &quot;Importance: High&quot;),
   CONTAINS([EmailMessage].Headers, &quot;X-Priority: 1&quot;),
   CONTAINS([EmailMessage].Headers, &quot;X-MSMail-Priority: 1&quot;),
   CONTAINS([EmailMessage].Headers, &quot;Priority: Urgent&quot;)
   ),
   NOT(ISNULL([EmailMessage].ParentId ))  ,
   NOT(ISNULL([EmailMessage].Parent.RecordTypeId)),
   OR(
    [EmailMessage].Parent.RecordType.DeveloperName =  &quot;PT_Data_Load&quot;,
    [EmailMessage].Parent.RecordType.DeveloperName =  &quot;PT_Support_Request&quot;,
    [EmailMessage].Parent.RecordType.DeveloperName =  &quot;WebHelp&quot;
   )
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
 OR(
   CONTAINS({!myVariable_current.Headers}, &quot;Importance: High&quot;),
   CONTAINS({!myVariable_current.Headers}, &quot;X-Priority: 1&quot;),
   CONTAINS({!myVariable_current.Headers}, &quot;X-MSMail-Priority: 1&quot;),
   CONTAINS({!myVariable_current.Headers}, &quot;Priority: Urgent&quot;)
   ),
   NOT(ISNULL({!myVariable_current.ParentId} ))  ,
   NOT(ISNULL({!myVariable_current.Parent.RecordTypeId})),
   OR(
    {!myVariable_current.Parent.RecordType.DeveloperName} =  &quot;PT_Data_Load&quot;,
    {!myVariable_current.Parent.RecordType.DeveloperName} =  &quot;PT_Support_Request&quot;,
    {!myVariable_current.Parent.RecordType.DeveloperName} =  &quot;WebHelp&quot;
   )
)</expression>
    </formulas>
    <interviewLabel>PB_Populate_Priority_On_Email_Message-2_EmailMessage</interviewLabel>
    <label>PB_Populate_Priority_On_Email_Message</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>EmailMessage</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Case ID</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update_ASK_EAB_Priority</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Urgent - Other</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Case ID</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Update_eTech_Support_Priority</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>A - Critical</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Case ID</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update_Case_Priority</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Urgent</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Case ID</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Update_PT_&amp;_WEB_Priority</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
